<button
  mat-icon-button
  type="button"
  [matMenuTriggerFor]="menu"
  [matTooltip]="'SETTINGS.APPEARANCE' | translate"
  [attr.aria-label]="'SETTINGS.APPEARANCE' | translate"
>
  <mat-icon>{{ icon() }}</mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  @for (option of options; track option.mode) {
    <button mat-menu-item type="button" (click)="select(option.mode)">
      <mat-icon>{{ option.icon }}</mat-icon>
      <span>{{ option.label | translate }}</span>
      @if (current() === option.mode) {
        <mat-icon class="theme-toggle__check">check</mat-icon>
      }
    </button>
  }
</mat-menu>
